    <!-- About Section -->
    <section id="join_now" class="container content-section text-center">
        <div class="row lead"> 
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
              <h2>Join now</h2>
              <br/>
		<ul class="list-inline intro-social-buttons">
		{% for actor in site.actors %}
			<li>
			<a href="{{ actor.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ actor.title }} fa-fw"></i> <span class="network-name">{{ actor.label }}</span></a>
			</li>
		{% endfor %}
		</ul>
                <br/>
		<p>If there are issues that you <strong>deeply care about</strong> and want to do something about, then you are not alone. You can do it as a side activity or as a full time job and make a living out of it.</p>
		<p>There are organizations out there that are <strong>driven by purpose</strong>. They are companies, NGO, communities, the form doesn't matter. What is important is that they mobilize great <strong>collective energy</strong> to make a positive impact. We help them find <strong>people like you</strong>.</p>
		<p>If you don't find a fit, then go for entrepreuneurship. When there's a will there's a way. <br/><strong>Join now to start and look for it.</strong></p>
              <br/>
              </div>
        </div>
    </section>
