---
layout: default
---

<div class="page-lead" style="background-image:url(/images/banner-bg-black-white.jpg)">
      <div class="wrap page-lead-content">
        <h1>Coming soon</h1>
        <h2>Join us to make it happen faster!</h2>
	<br/>
	<a href="{{ site.url }}/impact-map/" class="btn-inverse"><i class="fa fa-group fa-fw"></i>&nbsp;Register your organization</a>
	&nbsp; &nbsp;
	<a href="{{ site.url }}/impact-makers/" class="btn-inverse"><i class="fa fa-user fa-fw"></i>&nbsp;Join as an impact maker</a>
      </div><!-- /.page-lead-content -->
</div>
